body{
	background: #232323;
	margin: 0;
	font-style: "Montserrat","Avenir";
}

h1{
	color: white;
	background: steelblue;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	padding: 20px 0;
	line-height: 1.1;
}

#container{
	width: 600px;
	margin: 20px auto;
}
.square{
	background: purple; 
	width: 30%;
	padding-bottom: 30%;
	float : left;
	margin: 1.33%;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}

#stripe{
	height: 30px;
	background: white;
	text-align: center;
}

.selected{
	background-color: steelblue;
	color: white;
}

#displayColor{
	font-size: 200%;
}

button{
	color: steelblue;
	border: none;
	height: 100%;
	background: none;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	outline: none;
}

button:hover{
	background-color: steelblue;
	color: white;
}

#message{
	width: 20%;
	display: inline-block;
}